<h1>New restaurant</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :phone_number %>
  <%= f.input :address %>
  <%= f.submit "Create restaurant", class: "btn btn-primary" %>
<% end %>

